---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list-response";
import MainLayout from "../../layouts/main-layout.astro";
import PokemonCard from "@components/pokemons/pokemon-card.astro";

export const getStaticPaths = (async () => {
    const res = await fetch(`https://pokeapi.co/api/v2/pokemon?limit=151`);
    const { results } = (await res.json()) as PokemonListResponse;

    return results.map(({ name, url }) => {
        const id = url.split("/").at(-2);

        return {
            params: { id },
            props: { name, url },
        };
    });
}) satisfies GetStaticPaths;

const { id } = Astro.params;

const { url, name } = Astro.props;

const title = `Pokemon - ${id} ${name}`;

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/${id}.png`;
---

<MainLayout
    title={title}
    description={`Informacion del pokemon ${name}`}
    image={imageSrc}
>
    <section class="flex flex-col justify-center items-center mt-10 mx-10">
        <div class="w-full">
            <a href="/" class="">Regresar</a>
            <div class="w-full flex justify-center items-center">
                <h1 class="text-5xl capitalize font-bold">{name}</h1>
            </div>
        </div>
        <PokemonCard name={name} url={url} isBig />
        <audio controls class="mt-5">
            <source src={audioSrc} />
        </audio>
    </section>
</MainLayout>
