---
import { ViewTransitions } from "astro:transitions";
import { siteInfo } from "../consts/site.info";
import NavBar from "@components/shared/nav-bar.astro";
interface Props {
    title?: string;
    image?: string;
    description?: string;
}

const {
    title = siteInfo.title,
    description = siteInfo.description,
    image,
} = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />

        <meta name="generator" content={Astro.generator} />

        <!-- SEO -->
        <meta name="description" content={description} />
        <meta name="author" content={"Emmanuel Villavicencio"} />

        <!-- OG Metatags -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />

        <!-- Required -->
        <title>{title}</title>

        <ViewTransitions />

        <!-- EL CODIGO DE ABAJO ES UNA FORMA DE IMPLEMENTAR VIEWTRANSITIONS SIN JS -->
        <!-- <style>
            @view-transition {
                navigation: auto; /* enabled! */
            }
        </style> -->
    </head>
    <body class="bg-neutral-800 text-neutral-200">
        <NavBar />
        <main class="mt-10  m-auto max-w-3xl">
            <slot />
        </main>
    </body>
</html>
